:root {
  --c01: #ffffff;
  --c04: #cccccc;
  --c10: #111111;
  --c99: #000000;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container-bg.color1 {
  background: linear-gradient(
      180deg,
      #111111 0%,
      #130323 25%,
      #140226 50%,
      #0e0318 75%,
      #111111 100%
    )
    no-repeat;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-bg.color2 {
  background: var(--c10) no-repeat;
}

.container-bg.color0 {
  background: var(--c99) no-repeat;
}

.button::after {
  display: block;
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  /* left: -75px; */
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

.button:hover:after {
  left: 120%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.buttons {
  overflow: hidden;
}

.button {
  overflow: hidden;
  position: relative;
}

.tiltcard {
  display: flex;
  width: 400px;
  height: 550px;
  background: rgba(255, 255, 255, 0.25);
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
  justify-content: center;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}
