.triangulo2 {
  width: 0;
  height: 0;
  border: 600px solid transparent;
  border-bottom: 0;
  border-left: 800px solid var(--c10);
  position: absolute;
  left: -5px;
  bottom: 495px;
}

.triangulo1 {
  width: 0;
  height: 0;
  border: 600px solid transparent;
  border-bottom: 0;
  border-right: 800px solid var(--c10);
  /* border-left: 800px solid red; */
  position: absolute;
  right: -5px;
  bottom: 495px;
}

.pilotos {
  position: relative;
  height: 500px;
}
